.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address-header {
    font-style: normal;
    margin-left: auto;
}


.body {
    font-family: var(--font-family);
    background-color: var(--white);
    color: var(--button); 
}

p, h1, h2, h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

:root {
--navy-blue: #2E2F42;
--white: #FFFFFF;
--hover: #404BBF;
--button: #434455;
--portfolio-btn: #F4F4FD;
--font-family:'Roboto',sans-serif; 
--iris:#4D5AE5;
--font-weith-low:400;
--font-weith-top:500;
--font-weith-logo:800;
--font-weith-text:700;
--font-size-logo:18px;
--font-size-btn:16px;
--customers-col:#8e8f99;
--transition-dur-func:250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/*===================HEADER======================*/
.current {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-cont {
    align-items: center;
    display: flex;
}

.page-navigation {
    align-items: center;
    display: flex;
}

    .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    display: flex;
    align-items: center;
    margin-right: 76px;
    padding-top: 24px; 
    padding-bottom: 24px;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: var(--font-weith-logo);
    font-size: var(--font-size-logo);
    line-height: 21px;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue); 
}

.menu-list {
display: flex; 
gap: 40px; 
}

.page-navigation {
    display: flex;

}

.menu-link {
    position: relative;
    font-family: var(--font-family);
    font-weight: var(--font-weith-top);
    font-size: var(--font-size-btn);
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.menu-link {
    display: block;
    padding: 24px 0;
}

.menu-link:hover,
.menu-link:focus,
.menu-link.current {
    color: var(--hover);
}

.menu-link:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    transform: scaleX(0);
    width: 100%;
    height: 4px;
    background: #404BBF;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover:after,
.menu-link:focus:after,
.menu-link.current:after {
    transform: scaleX(1);
}
.last-link {
    margin-right: 0;

}
.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-sizing: border-box;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/*===================/HEADER======================*/

/*===================ADDRESS======================*/
.modal-button {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--font-family); 
    font-weight: var(--font-weith-low);
    font-size: var(--font-size-btn);
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: var(--button);
    font-style: normal;
}
.modal-button {
    display: block;
    padding: 24px 0;
}

.modal-button:hover,
.modal-button:focus {
    color: var(--hover);
}

.adr-header {
    display: flex;
    gap: 40px; 
}

/*===================/ADDRESS======================*/

/*===================HERO_Sec1==================*/

.hero-main {
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-bg {
    padding: 188px 0;

}
.hero-text {
    margin: 0 auto;
    font-family: var(--font-family); 
    font-size: 56px;
    line-height: 1.07; 
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    margin-bottom: 48px;
    max-width: 496px;
}
.hero-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    margin: 0 auto;
    display: block;
    font-family: var(--font-family);
    font-weight: var(--font-weith-top);
    font-size: var(--font-size-btn);
    height: 56px;
    min-width: 169px;
    line-height: 1.50; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.04em;
    color: var(--white);
    background: var(--iris);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    cursor: pointer
}

.hero-button:hover,
.hero-button:focus {
    background: var(--hover);
}


/*===================/HERO======================*/

/*===================STRATEGY_Sec2======================*/
.strategy-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.strategy-list {
    display: flex;
    gap: 24px;
}
.item-strategy {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-strategy{
background: #F4F4FD;
border-radius: 4px;
width: 264px;
height: 112px;
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 8px;
}

/*===================/STRATEGY======================*/


/*===================GALLERY======================*/

.gallery-photo {
width: 360px;
height: 300px;
}

/*===================/GALLERY======================*/

.galary-list {
    display: flex;
    gap: 24px;
}

.gallery-photo {
    display: block;  
    max-width: 100%; 
    height: auto; 
}

.section-gallery {
    padding-bottom: 120px; 
}
/*===================OUR-TEAM======================*/
.block-team {
    padding: 32px 16px;
    
}
.headline-title {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
    line-height: 1.11; 
    margin-bottom: 72px;
}

.cont-team {
    padding: 32px 16px 32px;


}
.section-our-team {
    background-color: var(--portfolio-btn);
    padding: 120px 0 120px;

}
.team-list {
    display: flex;
    gap: 24px;

}

.item-our-team {
    width: calc((100% - 72px) / 4); 
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.photo-our-team {
    display: block;  
    max-width: 100%; 
    height: auto; 
}

.item-our-team {
    background-color: var(--white);
}

.heading-title {
    font-family:var(--font-family);
    font-weight:var(--font-weith-top);
    font-size: 20px;
    line-height: 1.20; 
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}
.top-text {
    text-align: center;
}

.subheading-title {
    font-size: var(--font-size-btn);
    line-height: 1.50; 
    letter-spacing: 0.02em;
    color: var(--button);
    }

    .low-text {
        text-align: center;
        margin-bottom: 8px;
    }

    .team-cos-list {
        display: flex;
        justify-content: center;
        gap: 24px;
}
.team-cos-item {
    width: 40px;
    height: 40px;
}
.social-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links:hover,
.social-links:focus {
    background-color: #404bbf; 
}

.team-svg {
    fill: #F4F4FD;
}
/*===================/OUR-TEAM======================*/
/*===================CUSTOMERS======================*/
.section-customers {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-list {
    display: flex;
    gap: 24px;
}

.customers-item {
    width: calc((100% - 120px) / 6 );
    height: 88px;

}
.customers-link {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--customers-col);
}
.customers-link:hover,
.customers-link:focus {
    border-color: #404BBF;
    color: #404bbf; 
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;

}
.customers-title {
font-weight: var(--font-weith-text);
font-size: 36px;
line-height: 1.11;  
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
margin-bottom: 72px;
}
/*===================/CUSTOMERS======================*/
/*===================FOOTER======================*/

.footer-line {
background-color:var(--navy-blue);
padding: 100px 0 100px;
margin: 0 auto;

}

.footer-tagline {
    font-weight: var(--font-weith-low);
    font-size: var(--font-size-btn);
    line-height: 1.50; 
    letter-spacing: 0.02em;
    color: var(--portfolio-btn);
    max-width: 264px;
}

.logo-studio-footer {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: var(--font-weith-logo);
    font-size: var(--font-size-logo);
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--portfolio-btn);
    
}

.logo-foot {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-bottom: 16px;
}
.foot-block {
    margin-right: 120px;
}
.footer-cos-list {
    display: flex;
    gap: 16px;
    justify-content: center;

}
.foot-cos-item {
    width: 40px;
    height: 40px;
}
.footer-links {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-links:focus,
.footer-links:hover {
    background-color: #31D0AA;
}

.social-text {
color: var(--white);
font-weight: var(--font-weith-top);
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
margin-bottom: 16px;
text-align: center;
}
.svg-foot {
    fill: #F4F4FD;
}

.footer-container {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

.backdrop {
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(46, 47, 66, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 24px 24px 24px;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 24px;
}
.modal-close:hover,
.modal-close:focus {
    background: #404BBF;
    border: none;
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
    fill: #FFFFFF;
}


.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*===================/FOOTER======================*/

/*===================MODAL======================*/
.modal-field {
    margin-bottom: 8px;
}

.modal-title {
font-weight: var(--font-weith-top);
font-size: 16px;
line-height: 1.50;  
text-align: center;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 16px;
margin-left: auto;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 20px;
    color: var(--navy-blue);
    outline: transparent;
    padding-left: 38px;
    background-color: transparent; 
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-input:focus + .modal-icon {
    fill: #4D5AE5;
}
.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-input::placeholder, 
.modal-comment::placeholder {
    font-size: 12px;
    color: rgba(46, 47, 66, 0.4);
}

.modal-comment {
width: 100%;
height: 120px;
padding: 8px 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
color: var(--navy-blue);
resize: none;
outline: transparent;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
outline: transparent; 
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.input-comment {
font-weight: 400;
font-size: 12px;
line-height: 1.16; 
letter-spacing: 0.01em;
color: #8E8F99;
}

.model-form-input-desc {
font-weight: var(--font-weith-low);
font-size: 12px;
line-height: 1.16; 
letter-spacing: 0.04em;
color: #8E8F99;
}

.modal-comment:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.input-wrap {
    position: relative;
}

.modal-field-div {
    margin-bottom: 16px;
}

.modal-field-privacy {
    margin-bottom: 24px;
}

.link-privacy {
    color: var(--iris);
}
/*===================checkbox======================*/

.check-text {
    font-weight: var(--font-weith-low);
    font-size: 12px;
    line-height: 1.17;  
    letter-spacing: 0.04em;
    color: var(--customers-col);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.17; 
}

.check-text span {
width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
margin-right: 8px;
display: inline-flex;
align-items: center;
justify-content: center;
fill: transparent;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .check-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.modal-form-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
}

.modal-form-submit {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: var(--font-family); 
    font-weight: var(--font-weith-top);
    font-size: var(--font-size-btn);
    line-height: 1.50;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    border: none;
    background-color: #4D5AE5;
    cursor: pointer;
    height: 56px;
    border-style: none;
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    color: var(--hover);
}

/*===================Subscribe======================*/
.subscribe-cont {
margin-left: 80px;
}

.form-sbsc {
    display: flex;
    gap: 24px;
}

.subscribe-text {
font-weight: var(--font-weith-top);
font-size: 16px;
line-height: 1.50;
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
}

.subscribe-email-btn {
padding-left: 16px;
line-height: 1.5;
background-color: transparent;
width: 264px;
height: 40px;
border: 1px solid #FFFFFF;
border-radius: 4px;
font-weight: var(--font-weith-low);
font-size: 12px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
} 

.send-subscribe {
    min-width: 165px;
    display: flex;
    justify-content: center;
    margin-left: 24px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    background: #4D5AE5;
    border-radius: 4px;
    padding: 8px 24px;
    gap: 16px;
    color: #FFFFFF;
    fill: #FFFFFF;
    font-weight: var(--font-weith-top);
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    
}

.btn-subscribe-icon {
    width: 24px;
    height: 24px;
    margin-left: 16px;
}

/*===============PORTFOLIO MAIN SECTION==================*/
.main-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
    margin-bottom: 8px;

}
.main-section {
    padding: 96px 0 120px;
}

.menu-link {
    display: block;
}
.portfolio-btn {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 12px 24px 12px;
font-family: "Roboto", sans-serif; 
color: var(--iris);
font-size: var(--font-size-btn);
line-height: 1.50; 
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
border-radius: 4px;
background: var(--portfolio-btn);
cursor: pointer;
font-weight: 500; 
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
min-width: 116px;
height: 48px;
justify-content: center;
}

.list-button {
display: flex;
gap: 24px;
justify-content: center;
margin-bottom: 72px
}


.portfolio-btn:hover,
.portfolio-btn:focus {
    background: var(--hover);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background: #FFFFFF;
    border: 1px solid #E7E9FC;
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
    transform: translateY(0%);
}

.link-block {
display: block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-block:focus .overlay {
    transform: translateY(0%);
}

.link-block:hover,
.link-block:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:nth-child(3n) {
    margin-right: 0; 
}

.portfolio-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.img-portfolio {
    display: block;
    max-width: 100%;
    height: auto;
}


.overlay {
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: transform var(--transition-dur-func);
    background: var(--iris);
    font-weight: var(--font-weith-low);
    height: 100%;
    width: 100%;
    font-size: var(--font-size-btn);
    line-height: 1.50; 
    letter-spacing: 0.02em;
    color: var(--portfolio-btn);
    padding: 40px 32px;
    overflow: auto;
}
.img-portfolio-wrapper {
position: relative;
overflow: hidden;
}

.portfolio-photo {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/*===============/PORTFOLIO MAIN SECTION==================*/